<app-navbar (newSearchEvent)="reloadPage($event)"></app-navbar>

<div class="marketPlace">
    <div class="marketPlace-header">
        <div class="market-filter-title">
            <p>MARKET PLACE</p>
        </div>
        <!-- Filter by Category -->
        <div class="market-filter">
            <mat-icon (click)="filter()">filter_list</mat-icon>
        </div> 
    </div>
    <mat-grid-list cols="4" rowHeight="1:1.5" gutterSize="50" class="marketPlace-body">
        <mat-grid-tile class="marketPlace-body-product" *ngFor="let product of products">
            <coin-card [items]="product"></coin-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>



<!--For mobile-->
<div class="mobile-marketPlace">
    <div class="mobile-marketPlace-header">
        <div class="mobile-filter-title">
            <h3>MARKET PLACE</h3>
        </div>
        <div class="mobile-market-filter">
            <mat-icon>filter_list</mat-icon>
        </div>
    </div>
    <mat-grid-list cols="1" rowHeight="1:1" class="mobile-marketPlace-body">
        <mat-grid-tile class="mobile-marketPlace-body-product" *ngFor="let product of products">
            <div class="mobile-marketPlace-body-product-box">
                <img [src]="product.ProdImage" width=100% height=70%>
                <div class="mobile-marketPlace-body-product-infoBox">
                    <p class="mobile-header">{{product.ProdName}}</p>
                    <div class="mobile-marketPlace-body-product-info">
                        <div>
                            <p class="mobile-sub-header">Price</p>
                            <p class="mobile-info">{{product.ProdPrice}}</p>
                        </div>
                        <div>
                            <p class="mobile-sub-header">Quantity</p>
                            <p class="mobile-info">{{product.ProdQty}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<app-footer></app-footer>

